body {
  background-color: gray;
}

li {
  margin-top: 1vh;
  list-style-position: inside;
  padding-left: 1vw;
}

li:nth-child(odd) {
  border: 2px solid blue;
}

li:nth-child(even) {
  border: 2px solid red;
}